src/main/mule/muledbproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ca26b5b5-de5b-488d-964e-71340679b5fc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>	
	<secure-properties:config name="Secure_Properties_Config" 
    doc:name="Secure Properties Config" 
    file="config/${mule.env}.yaml" 
    key="${secure.key}">
    <secure-properties:encrypt algorithm="Blowfish" mode="CBC"/>
</secure-properties:config>
	<configuration-properties doc:name="Configuration properties" doc:id="1f30c0af-6a67-4bac-b506-6fe1cbda94b0" file="config/${mule.env}.yaml" />
	<flow name="muledbprojectFlow" doc:id="4b2a575f-345a-4329-8f04-ebe6975743b9" >
		<http:listener doc:name="Listener" doc:id="0aaa6492-cf8a-44c0-92a6-13435e1d8d52" config-ref="HTTP_Listener_config" path="/a">
		</http:listener>
		<set-payload 
    value="#['Hi ' ++ p('MY_USER_NAME_VALUE') ++ &#10;', ' ++ p('app.message') ++ &#10;', your decrypted password is ' ++ &#10;Mule::p('secure::db.password')]" 
    doc:name="Set Payload" 
    doc:id="6410dd3e-9c9d-49e9-976f-27b1424d1422" 
    mimeType="text/plain"/>
		
</flow>
</mule>
